{% load bootstrap4 %} {% bootstrap_css %}

<div class="container">
  <div class="row h-100">
    <div class="col-12 mx-auto my-auto">
      <h1 class="text-center text-primary">Simple Admin Dashboard</h1>
    </div>
    <div class="col-4 mx-auto">
      <div class="card border-primary">
        <div class="card-header text-white text-center bg-primary">
          {{user_profile.name}} {{user_profile.screen_name}}
        </div>
        <div class="card-body text-center">
          <div class="card-title">
            <img src="{{user_profile.profile_image_url}}" class="card-img-top"
              style="border-radius: 100%; width: 150px" />
          </div>
          <p class="card-text">{{user_profile.description}}</p>
        </div>
        <ul class="list-group list-group-flush text-center">
          <li class="list-group-item">
            <a href="#" class="btn btn-primary ">Profile</a>
            <a href="#" class="btn btn-success ">New Tweet</a>
            <a href="#" class="btn btn-danger ">Block User</a>
          </li>
          <li class="list-group-item">
            <a class="btn btn-primary" href="#" role="button">Follower <span class="badge badge-light">40</span></a>
            <a class="btn btn-info" href="#" role="button">Total Tweets <span class="badge badge-light">40</span></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>